<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
    href=//j2.58cdn.com.cn/git/ecdata_git/ecdata_maidian_vue/favicon.ico>
    <title>Search</title>
    <link rel="stylesheet" href="css/element.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/index.css" />
    <!-- 引入组件库 -->
    <script src="js/vue.js"></script>
    <script src="js/element.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/my.js"></script>
    <script>
      try {
        var data = $data;
      } catch (e) {
        var data = {};
      }
      // 这个是邮件和上传文件服务器地址， http://nrelay.58corp.com/
      var baseURL = 'http://10.146.84.35:1991';
      // var baseURL = `http://localhost:1992`;
      var searchServer = axios.create({
        baseURL,
      });
    </script>
  </head>

  <body>
    <div id="root">
      <div class="tab-box">
        <el-menu
          :default-active="activeIndex"
          class="el-menu-demo"
          mode="horizontal"
          @select="handleSelect"
          background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b"
        >
          <el-menu-item index="name" class="project-name-box" disabled>
            <div class="project-name">
              <span>项目名称：</span>
              <span>$name</span>
            </div>
          </el-menu-item>
          <el-menu-item index="0">影响页面</el-menu-item>
          <el-menu-item index="1">依赖细节</el-menu-item>
          <el-menu-item index="2">搜索工具</el-menu-item>
          <el-menu-item index="3">垃圾文件</el-menu-item>
        </el-menu>
      </div>

      <div class="tab-none"></div>

      <div v-loading.fullscreen.lock="fullscreenLoading" class="container">
        <div id="index-0" class="container-info" v-show="currentindex == 0">
          <el-collapse accordion>
            <el-collapse-item
              :title="types[item.type] + ' ' + item.path"
              v-for="(item, index) in data.change"
            >
              <div v-if="item.children.length === 0">
                <el-tag type="info"
                  >{{item.error ? item.error : '无数据'}}</el-tag
                >
              </div>
              <div v-else>
                <p v-for="child in item.children" class="pages-box">
                  <el-tag type="danger" @click="openDialog(child)"
                    >{{child.entry}}</el-tag
                  >
                </p>
              </div>
            </el-collapse-item>
          </el-collapse>
          <div v-if="data.change.length === 0">
            <h3>没有数据</h3>
          </div>
          <el-row class="btn-box">
            <el-button type="primary" round @click="getHtml"
              >邮件预览</el-button
            >
            <!-- <el-button type="primary" round @click="test">test</el-button> -->
          </el-row>
        </div>

        <div id="index-1" class="container-info" v-show="currentindex == 1">
          <div>
            <el-tag type="success" size="small"
              >提示：双击文件可在编辑器打开</el-tag
            >
          </div>

          <div v-for="(item, index) in data.tree" :key="item.path">
            <h2 class="title">{{types[item.type]}} {{item.path}}</h2>
            <div>
              <!-- <File :list="item.merge" :first="true" :type="-1"></File> -->
              <el-tree
                :data="item.merge"
                :ref="'treeRoot' + index"
                :id="'treeRoot' + index"
                :props="defaultProps"
                :load="loadNode({id:'treeRoot' + index})"
                lazy
                @node-click="handleNodeClick"
                :render-after-expand="false"
              >
              </el-tree>
            </div>
          </div>
          <div v-if="data.tree.length === 0">
            <h3>没有数据</h3>
          </div>
        </div>

        <div id="index-2" class="container-info" v-show="currentindex == 2">
          <div>
            <el-input
              placeholder="请输入相对路径或绝对路径，多个英文逗号分割"
              v-model="search_text"
              class="input-with-select"
              @keyup.enter.native="getImport"
            >
              <el-select
                v-model="search_type"
                slot="prepend"
                multiple
                class="searc-type"
                placeholder="请选择类型"
              >
                <el-option
                  v-for="item in search_type_options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
              <el-button
                slot="append"
                icon="el-icon-search"
                @click="getImport"
              ></el-button>
            </el-input>

            <div class="search-data-info">
              <div
                v-for="(item, index) in importData.tree"
                :key="'importData' + item.path"
              >
                <h2 class="title">
                  <el-tag type="success" size="small" effect="dark"
                    >被引用</el-tag
                  >{{types[item.type]}} {{item.path}}
                </h2>
                <div>
                  <!-- <File :list="item.merge" :first="true" :type="-1"></File> -->
                  <el-tree
                    :data="item.merge"
                    :ref="'treeImportData' + index"
                    :id="'treeImportData' + index"
                    :props="defaultProps"
                    :load="loadNode({id:'treeImportData' + index, className:'file-tip2'})"
                    lazy
                    @node-click="handleNodeClick"
                    :render-after-expand="false"
                  ></el-tree>
                </div>
              </div>

              <div
                v-for="(item, index) in exportData.tree"
                :key="'exportData' + item.path"
              >
                <h2 class="title">
                  <el-tag type="danger" size="small" effect="dark">引用</el-tag
                  >{{types[item.type]}} {{item.path}}
                </h2>
                <div>
                  <el-tree
                    :data="item.merge"
                    :ref="'treeExportData' + index"
                    :id="'treeExportData' + index"
                    :props="defaultProps"
                    :load="loadNode({id:'treeExportData' + index})"
                    lazy
                    @node-click="handleNodeClick"
                    :render-after-expand="false"
                  ></el-tree>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <div id="index-3" class="container-info" v-show="currentindex == 3">
          <el-tabs tab-position="left" v-if="garbageData">
            <el-tab-pane label="平铺">
              <div class="tab-pane-box">
                <el-collapse accordion>
                  <el-collapse-item
                    :title="`平铺垃圾文件（${garbageData.paths.length}）`"
                  >
                    <p v-for="item in garbageData.paths" class="p-style">
                      <a
                        href="javascript:;"
                        @click="() => dblclick({label: item})"
                        >{{item}}</a
                      >
                    </p>
                  </el-collapse-item>

                  <el-collapse-item
                    :title="`全部文件（${garbageData.map.length}）被引用次数`"
                  >
                    <p v-for="item in garbageData.map" class="p-style">
                      <a
                        href="javascript:;"
                        @click="() => dblclick({label: item.path})"
                        >{{item.path}}</a
                      >
                      <span
                        >被引用<em @click="openDialogGarbage(item.cited)"
                          >{{item.cited.length}}</em
                        >次</span
                      >
                    </p>
                  </el-collapse-item>

                  <el-collapse-item
                    :title="`全部入口文件（${garbageData.scopeData.length}）引用的文件`"
                  >
                    <p v-for="item in garbageData.scopeData" class="p-style">
                      <el-tag
                        type="danger"
                        @click="() => dblclick({label: item.path})"
                        >{{item.path}}</el-tag
                      >
                      <span
                        >引用<em @click="openEntryDialogGarbage(item.children)"
                          >{{item.children.length}}</em
                        >个文件</span
                      >
                      <span
                        >共引用<i @click="openEntryDialogGarbage(item.children)"
                          >{{item.total}} </i
                        >次</span
                      >
                    </p>
                  </el-collapse-item>
                </el-collapse>
              </div>
            </el-tab-pane>
            <el-tab-pane label="树形">
              <div class="tab-pane-box">
                <el-tree
                  :data="garbageData.tree"
                  :props="defaultProps"
                  ref="tree_garbage"
                  id="tree_garbage"
                  :load="loadNode({id:'tree_garbage', isGarbage:true})"
                  lazy
                  @node-click="handleNodeClickGarbage"
                  :render-after-expand="false"
                >
                </el-tree>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>

        <!-- pages页详情弹窗 -->
        <el-dialog
          :title="pageData.entry"
          :visible.sync="dialogVisible"
          width="70%"
        >
          <div v-html="pageData.html"></div>
          <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="dialogVisible = false"
              >确 定</el-button
            >
          </span>
        </el-dialog>

        <!-- 发送邮件弹窗 -->
        <el-dialog
          :title="'邮件预览'"
          :visible.sync="emailVisible"
          width="850px"
        >
          <iframe
            :srcdoc="emailHTML"
            width="100%"
            height="500px"
            class="iframe-style"
            id="emailIframe"
            @load="emailIframeLoad"
          ></iframe>
          <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="uploadVisible = true"
              >上传附件</el-button
            >
            <el-button type="primary" @click="getHistory">发送邮件</el-button>
          </span>

          <!-- 添加附件弹窗 -->
          <el-dialog
            title="上传附件"
            :visible.sync="uploadVisible"
            append-to-body
            width="400px"
          >
            <el-upload
              class="upload-box"
              drag
              :action="uploadUrl"
              :on-success="uploadSuccess"
              :on-remove="uploadRemove"
              :before-upload="beforeAvatarUpload"
              :file-list="fileList"
              multiple
            >
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">
                将文件拖到此处，或<em>点击上传</em>
              </div>
              <div class="el-upload__tip" slot="tip">文件不超过2M</div>
            </el-upload>
          </el-dialog>

          <!-- 发送邮件确认信息弹窗 -->
          <el-dialog
            title="信息确认"
            :visible.sync="historyVisible"
            width="400px"
            append-to-body
          >
            <el-form :model="form" :rules="rules" ref="form">
              <el-form-item label="发件标题：" :label-width="formLabelWidth">
                <el-input v-model="form.title" autocomplete="off"></el-input>
              </el-form-item>
              <el-form-item
                label="发件人："
                :label-width="formLabelWidth"
                placeholder="例如：fengkang01"
                prop="user"
              >
                <el-input v-model="form.user" autocomplete="off"></el-input>
              </el-form-item>

              <el-form-item
                label="发送至："
                :label-width="formLabelWidth"
                required
              >
                <el-checkbox-group v-model="form.group">
                  <el-checkbox label="wuxian-qa" name="group"
                    >wuxian-qa</el-checkbox
                  >
                  <el-checkbox label="gp-fe" name="group">gp-fe</el-checkbox>
                </el-checkbox-group>
                <el-input
                  type="textarea"
                  v-model="form.toUserList"
                  autocomplete="off"
                ></el-input>
              </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button @click="historyVisible = false">取 消</el-button>
              <el-button type="primary" @click="sendEmail">确 定</el-button>
            </div>
          </el-dialog>

          <!-- 图片控制 -->
          <el-dialog
            :title="'图片控制'"
            :visible.sync="imageVisible"
            append-to-body
            :modal="false"
            top="5vh"
            width="600px"
          >
            <el-slider
              v-model="currentImageWidth"
              :show-tooltip="false"
            ></el-slider>
            <div slot="footer" class="dialog-footer"></div>
          </el-dialog>
        </el-dialog>

        <el-dialog
          :title="'引用者'"
          :visible.sync="dialogVisibleGarbage"
          width="70%"
        >
          <div class="scroll-box">
            <div>
              <div v-for="item in alertDataGarbage" class="p-style">
                <a href="javascript:;" @click="() => dblclick({path: item})"
                  >{{item}}</a
                >
              </div>
            </div>
          </div>
        </el-dialog>

        <el-dialog
          :title="'被引用者'"
          :visible.sync="entryVisibleGarbage"
          width="70%"
        >
          <div class="scroll-box">
            <div>
              <div v-for="item in entryDataGarbage" class="p-style">
                <a
                  href="javascript:;"
                  @click="() => dblclick({path: item.path})"
                  >{{item.path}}</a
                >

                <span>被引用<i>{{item.total}}</i>次</span>
              </div>
            </div>
          </div>
        </el-dialog>
      </div>
    </div>
    <script>
      let number = 0;
      let timer = null;
      var app = new Vue({
        el: '#root',
        data: {
          types: {
            M: '修改',
            D: '删除',
            A: '新增',
          },
          form: {
            title: '',
            user: data.commit['%cn'],
            toUserList: '',
            group: [],
          },
          rules: {
            user: [
              { required: true, message: '请输入发件人', trigger: 'blur' },
            ],
          },
          search_text: '',
          search_type: ['0', '1'],
          search_type_options: [
            {
              value: '0',
              label: '被引用',
            },
            {
              value: '1',
              label: '引用',
            },
          ],
          importData: {},
          exportData: {},

          fileList: [],
          formLabelWidth: '100px',
          fullscreenLoading: false,
          activeIndex: '0',
          currentindex: '0',
          pageData: {},
          qaList: [],
          expandAll: false,
          dialogVisible: false,
          emailVisible: false,
          historyVisible: false,
          uploadVisible: false,
          imageVisible: false,
          emailHTML: '',
          emailIframe: null,
          currentImageSetStyle: () => {},
          currentImageWidth: 0,
          data,
          uploadUrl: `${baseURL}/upload/file`,
          defaultProps: {
            children: 'children',
            label: 'label',
            isLeaf: 'leaf',
          },
          garbageData: null,
          dialogVisibleGarbage: false,
          entryVisibleGarbage: false,
          alertDataGarbage: [],
          entryDataGarbage: [],
        },
        watch: {
          currentImageWidth(value) {
            this.currentImageSetStyle(value);
          },
          currentindex(value) {
            if (value === '3' && !this.garbageData) {
              this.getGarbageData();
            }
          },
        },
        created() {
          const idArr = [];
          const arr = [];
          for (const item of data.change) {
            for (const child of item.children) {
              // qa的页面page去重
              if (!idArr.includes(child.id)) {
                arr.push(child);
                idArr.push(child.id);
              }
            }
          }
          this.qaList = arr;
        },
        mounted() {
          // this.setStyle();
        },
        methods: {
          async test() {
            try {
              const { data } = await axios.get('/test');
              console.log(data);
            } catch (e) {}
          },

          openDialogGarbage(data) {
            this.alertDataGarbage = data;
            this.dialogVisibleGarbage = true;
          },

          openEntryDialogGarbage(children) {
            this.entryDataGarbage = children;
            this.entryVisibleGarbage = true;
          },
          //
          async getGarbageData() {
            const loading = this.loading({
              lock: true,
              text: '分析过程可能长达几分钟，CPU燃烧中...',
              target: document.querySelector('#index-3'),
            });

            try {
              const { data } = await axios.get('/garbage');
              this.garbageData = data.data;
            } catch (e) {}

            loading.close();
          },

          // 获取被引入文件
          async getImport() {
            const loading = this.loading({
              lock: true,
              text: '分析过程可能长达几分钟，CPU燃烧中...',
              target: document.querySelector('#index-2'),
              customClass: 'interfaceCloseBox',
            });

            const CancelToken = axios.CancelToken;
            const source = CancelToken.source();

            const interfaceCloseBox = document.querySelector(
              '.interfaceCloseBox .el-loading-spinner'
            );

            const div = document.createElement('div');

            div.innerHTML = `<span class="interfaceCloseInfo">已等待 <em id="activeNumber">0</em> 秒，<a href="javascript:;" id="activeClose">老子不想等了，放弃</a></span>`;

            div.querySelector('#activeClose').onclick = function () {
              source.cancel('Operation canceled by the user.');
            };

            const activeNumber = div.querySelector('#activeNumber');

            let second = 0;
            const timer = setInterval(() => {
              activeNumber.innerHTML = ++second;
            }, 1000);

            interfaceCloseBox.appendChild(div);

            const path = this.search_text.split(',').map((item) => item.trim());

            const proList = [];

            if (this.search_type.includes('0')) {
              proList.push(
                axios.post(
                  '/import',
                  { path },
                  {
                    cancelToken: source.token,
                  }
                )
              );
            } else {
              proList.push(Promise.resolve({ data: { data: {} } }));
            }

            if (this.search_type.includes('1')) {
              proList.push(
                axios.post(
                  '/export',
                  { path },
                  {
                    cancelToken: source.token,
                  }
                )
              );
            } else {
              proList.push(Promise.resolve({ data: { data: {} } }));
            }

            try {
              const [p1, p2] = await Promise.all(proList);
              this.importData = p1.data.data;
              this.exportData = p2.data.data;
            } catch (e) {
              console.log(e);
            }

            loading.close();
          },

          uploadRemove(file, fileList) {
            this.fileList = fileList;
          },
          uploadSuccess(response, file, fileList) {
            this.fileList = fileList;
          },
          beforeAvatarUpload(file) {
            //const isJPG = file.type === 'image/jpeg';
            const maxMB = 2;
            const isLt2M = file.size / 1024 / 1024 < maxMB;

            // if (!isJPG) {
            //   this.$message.error('上传头像图片只能是 JPG 格式!');
            // }
            if (!isLt2M) {
              this.$message.error(`上传头像图片大小不能超过 ${maxMB}MB!`);
            }
            return isLt2M;
          },
          async getHistory() {
            const { data } = await axios.get('/getHistory');
            if (data.code != 0) return;
            const { toUserList = [], group = ['wuxian-qa', 'gp-fe'] } =
              data.data;

            this.form.toUserList = toUserList.join(',');
            this.form.group = group;

            this.historyVisible = true;
          },

          emailIframeLoad() {
            this.emailIframe =
              document.getElementById('emailIframe').contentWindow;
            this.emailIframe.addEventListener('click', this.gofile);
            this.addImages();
          },

          // 在编辑器打开文件
          gofile(e) {
            try {
              const label = e.target.dataset.file;
              label && this.dblclick({ label });
            } catch (e) {
              console.log(e);
            }
          },

          addImages() {
            let $dataInfo =
              this.emailIframe.document.getElementsByClassName('$dataInfo');

            const arr = Array.from($dataInfo);

            const _this = this;

            function readAndPreview(file, context) {
              // 确保 `file.name` 符合我们要求的扩展名
              if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
                var reader = new FileReader();

                reader.addEventListener(
                  'load',
                  function () {
                    var image = new Image();
                    image.title = file.name;
                    image.src = this.result;
                    let width = 0;
                    const setStyle = (w) => {
                      width = w;
                      image.setAttribute(
                        'style',
                        `max-width:100%;cursor: pointer;width:${width}%;`
                      );
                    };

                    context.appendChild(image);
                    image.onload = function () {
                      setStyle((image.width / 718) * 100);
                      image.onclick = function () {
                        _this.currentImageSetStyle = setStyle;
                        _this.currentImageWidth = width;
                        _this.imageVisible = true;
                      };
                    };
                  },
                  false
                );

                reader.readAsDataURL(file);
              }
            }

            function handleEvent(event) {
              event.preventDefault();

              // 当可拖动的元素进入可放置的目标高亮目标节点
              if (event.type == 'dragenter') {
                if (event.target.className == '$dataInfo') {
                  event.target.style.background = '#409eff';
                }
              }

              // 当可拖动的元素离开可放置的目标高亮目标节点
              if (event.type == 'dragleave') {
                if (event.target.className == '$dataInfo') {
                  event.target.style.background = '';
                }
              }

              if (event.type == 'drop') {
                event.target.style.background = '';
                const files = Array.from(event.dataTransfer.files);
                if (files) {
                  Array.from(files).forEach((file) => {
                    readAndPreview(file, this);
                  });
                }
              }
            }
            arr.forEach((dropTarget) => {
              dropTarget.addEventListener('dragenter', handleEvent);
              dropTarget.addEventListener('dragleave', handleEvent);
              dropTarget.addEventListener('drop', handleEvent);
            });
          },

          async sendEmail() {
            try {
              await this.$refs['form'].validate();
            } catch (e) {
              console.log(e);
              return false;
            }

            if (this.form.group.length === 0 && !this.form.toUserList) {
              return this.$message.error(
                '至少得有一个收件群组或者收件个人！！'
              );
            }

            this.fullscreenLoading = true;

            const Document = this.emailIframe.document;

            const cloneDocument = Document.cloneNode(true);

            const pages = cloneDocument.getElementById('pages');

            const deleteIcon = Array.from(
              cloneDocument.querySelectorAll('.delete')
            );

            deleteIcon.forEach((item) => {
              item.style.display = 'none';
            });

            const deleteCheck = Array.from(
              cloneDocument.querySelectorAll('.md-input-delete')
            );

            deleteCheck.forEach((item) => {
              if (item.checked) {
                pages.removeChild(item.parentNode);
              }
            });

            const HTML = cloneDocument.documentElement.innerHTML;

            const body = /<body[\s|\S]*<\/body>/.exec(HTML)[0];

            const emailHTML = this.emailHTML.replace(
              /<body[\s|\S]*<\/body>/,
              body
            );

            const toUserList = this.form.toUserList
              .split(/,|，/)
              .filter(Boolean);

            const html = emailHTML.replace(/contenteditable=\"true\"/g, '');

            console.log(html.length);
            if (html.length > 800 * 1024) {
              this.fullscreenLoading = false;
              return this.$message.error('文件过大，请压缩图片！');
            }

            const json = {
              html,
              title: this.form.title,
              user: this.form.user,
              // pass: this.form.pass,
              iworkId: data.iworkId,
              toUserList: [...this.form.group, ...toUserList],
              files: this.fileList.map((item) => {
                return {
                  filename: item.name,
                  pathname: item.response.data.pathname,
                };
              }),
            };

            try {
              const { data } = await searchServer.post('/base/sendEmail', json);

              this.fullscreenLoading = false;

              if (data.err) {
                console.log(data.err);
                if (data.err.responseCode === 535) {
                  return this.$message.error('身份验证失败');
                }
                return this.$message.error('身份验证失败-2');
              }
              if (data.code === 0) {
                this.emailVisible = false;
                this.historyVisible = false;
                this.$message.success('发送成功');
                return await axios.post('/setHistory', {
                  toUserList,
                  group: this.form.group,
                });
              }
            } catch (e) {
              console.log(e);
            }
            this.fullscreenLoading = false;
            this.$message.error('发送失败');
          },

          async getHtml() {
            const { data } = await axios.get('/emailTemplate');
            if (data.code != 0) return;
            this.emailHTML = data.data;
            this.emailVisible = true;
          },

          openDialog(data) {
            this.pageData = data;
            this.dialogVisible = true;
          },

          handleSelect(key, keyPath) {
            this.currentindex = key;
          },

          handleNodeClick(...arg) {
            number++;
            clearTimeout(timer);
            timer = setTimeout(() => {
              if (number === 1) {
                this.click(...arg);
              } else {
                this.dblclick(...arg);
              }
              number = 0;
            }, 200);
          },

          handleNodeClickGarbage(...arg) {
            number++;
            clearTimeout(timer);
            timer = setTimeout(() => {
              if (number === 1) {
                this.click(...arg);
              } else {
                // 自由最后一个才是真正的文件名称
                if (arg[0].children.length) return;
                //console.log(arg);
                this.dblclick({ label: arg[0].path });
              }
              number = 0;
            }, 200);
          },

          async click(item) {
            // console.log(item);
          },

          async dblclick(item) {
            const { label: path } = item;
            this.$message.warning('正在从编辑器打开对应文件，请等待');
            await axios.get('/open', {
              params: {
                path,
              },
            });
          },

          loadNode({ id, isGarbage, className }) {
            return (node, resolve) => {
              //console.log('1', node);
              const data = node.level === 0 ? node.data : node.data.children;

              data.forEach((item) => {
                if (item.children.length === 0) {
                  item.leaf = true;
                }
              });
              resolve(data);

              setTimeout(() => {
                if (isGarbage) {
                  this.setStyleGarbage({ id, className });
                } else {
                  this.setStyle({ id, className });
                }
              });
            };
          },

          setStyleGarbage({ id, className = 'file-tip1' }) {
            if (!this.garbageData) return;
            const nodes = Array.from(
              document.querySelectorAll(`#${id} span.el-tree-node__label`)
            );

            const reg = new RegExp(this.data.fileType);
            for (const node of nodes) {
              if (reg.test(node.innerHTML)) {
                node.classList.add(className);
              }
            }
          },

          setStyle({ id, className = 'file-tip1' }) {
            const data = {
              1: this.data,
              2: this.importData,
            }[this.currentindex];

            const nodes = Array.from(
              document.querySelectorAll(`#${id} span.el-tree-node__label`)
            );

            if (data && Array.isArray(data.tree)) {
              const arr = data.tree.map((item) => item.path.trim());

              for (const node of nodes) {
                if (arr.includes(node.innerHTML.trim())) {
                  node.classList.add(className);
                }
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
