<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
    href=//j2.58cdn.com.cn/git/ecdata_git/ecdata_maidian_vue/favicon.ico>
    <title>Search</title>
    
<script type="">
  var DATA = {},TAB = [];
  try {
     DATA = <%-data%>;TAB = <%-tab%>;
  } catch (e) {}
</script>

    <script type="module" crossorigin src="/assets/index.3422e629.js"></script>
    <link rel="stylesheet" href="/assets/index.64c40483.css">
  </head>
  <body>
    <div id="app"></div>
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/sankey.js"></script>
    <script src="https://code.highcharts.com/modules/organization.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
  </body>
</html>
